@font-face {
	font-family: 'MomsTypewriter';
	src: url(../../assets/fonts/MomsTypewriter.woff2) format('woff2'),
	url(../../assets/fonts/MomsTypewriter.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}