@font-face {
	font-family: 'NanumGothicExtraBold';
	src: url(../../assets/fonts/NanumGothicExtraBold.woff2) format('woff2'),
	url(../../assets/fonts/NanumGothicExtraBold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}